<% layout('layouts/boilerplate') %>
    <style>
        .username {
            display: none;
        }
       label{
           font-size: 1.3rem;
           font-weight: bold;
       }
    </style>





   
    <div class="row justify-content-center mt-3 ">
        <div class="col-xl-6">
            <div class="card shadow">
            <div class="card-body">
                
                <form action="/changepassword" method="POST" novalidate class="validated-form">
                    <div class="mb-3">
                        <label class="form-label" for="newpassword">Enter Your New password</label>
                        <input class="form-control" type="password" id="oldpassword" name="password" required>
    
                    </div>
                    <input class="username" type="text" name="username" value="<%= user.username%>">
    
                    <button class="btn btn-sm btn-success d-block w-100 py-2">Submit</button>
                </form>
            </div>
        </div>
        </div>


    </div>


  




  